.container{
    background-color: #FFF;
    border-radius: 5px;
    -webkit-box-shadow: 10px 10px 0px 0px rgba(107,34,39,1);
    -moz-box-shadow: 10px 10px 0px 0px rgba(107,34,39,1);
    box-shadow: 10px 10px 0px 0px rgba(107,34,39,1);
    
    width: 80vw;

    padding: 10px 20px 10px 20px;
}
.container-img{
    display: flex;
}
.container-img img{
    width: 130px;
    margin: auto;   
}
.form-login{
    display: flex;
    flex-direction: column;
}

.form-login label{
    font-size: 20px;
}

.form-login .form-item{
    margin-top: 10px;
}

.form-login input{
    color: #aaa;
    border: none;
    border-bottom: black 1px solid;
    border-radius: 3px 3px 0px 0px;
    height: 30px;
    outline: none;
    font-family: 'Courier New', Courier, monospace;
}
.form-login input:focus{
    background-color: #aaa;    
    color: #FFF;
}